.Calculator {
    height: 320px;
    width: 235px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
    
}