@font-face{
  font-family: 'Roboto';
  src: url('./fonts/Roboto-VariableFont_wdth,wght.ttf')
}

* {
  font-family: 'Roboto', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(172, 182, 229), rgb(134, 253, 232))
}